@media screen and (min-width: 740px) {
  header {
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
    align-items: center;
  }

  nav {
    width: auto;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  
  /* Class Selectors */
  .navigation {
    display: flex;
  }

  .navigation li {
    flex: 1 1 100%;
    padding: 10px 5px;
  }

  .navigation a {
    display: block;
    padding: 15px;
    background: none;
    border-radius: 5px;
  }

  .navigation a:hover {
    background: var(--secondary-color);
    color: black;
  }

  /* ID Selectors */
  #title {
    margin: 0;
  }

  #content-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #menu {
    display: none;
  }

  /* Home Page */
  .hero img {
    max-height: 25rem;
  }

  .button-box {
    grid-area: 1/3/4/4;
  }
}
